<%= form_for(@build_template) do |f| %>
  <% if @build_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@build_template.errors.count, "error") %> prohibited this build_template from being saved:</h2>

      <ul>
      <% @build_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :from %><br>
    <%= f.select :from, @images.map {|image| []} %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :cmd %><br>
    <%= f.text_field :cmd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  $(function() {
    var template = _.template("FROM bbhoss/complymd \n\
      RUN /build_complymd.sh GITREF EPOCH \n\
      ENV TESTING_REF GITREF \n\
      CMD [\"supervisord\", \"-n\"]");
    $('#build_template_body').val(template());
  });
</script>