<h1>Containers</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% Docker::Container.all.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td>
        <%= link_to "Start", start_container_path(c.id) %>
        <%= link_to "Stop", stop_container_path(c.id) %>
        <%= link_to "Restart", restart_container_path(c.id) %>
        <%= link_to "Delete", restart_container_path(c.id) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>